
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  /* group utilities */
  .menu-items{
    @apply dropdown-content mt-3 p-2  w-52
  }
  .dropdown-pages{
    @apply fill-current group-hover:rotate-180 transition-transform duration-700
  }
  .services-card{
  @apply w-96 mt-10 bg-[#f0ece7] hover:bg-slate-900 shadow-xl hover:-translate-y-4 duration-700
  }
  .services-body{
    @apply group-hover:text-white duration-500 text-black mb-4
  }
  .card-btn {
    @apply m-1 px-3 py-1 text-sm text-white rounded-xl transition-all duration-500 to-white via-black from-red-500 bg-size-180 hover:bg-right-bottom cursor-pointer
  }
  .arrow-btn{
    @apply bg-[#fab1a0] h-[30px] w-[30px] rounded-full grid
    place-items-center cursor-pointer
  }

  .icon-hover{
    @apply transition duration-300 delay-200 ease-in-out
  }
  .footer-support{
    @apply mt-3 flex flex-col pl-10 text-base font-semibold
  }

  .social-icon{
    @apply bg-white
           text-orange-600 
            text-[22px]
            rounded-full p-2
            hover:-translate-y-2
            hover:bg-orange-700
            hover:text-white
  }
  

  /* Navbar */
/* .nav-bgScroll{
    background-color: white !important;
    transition:background-color 400ms linear;
    -webkit-transition:background-color 400ms linear;
    -o-transition:background-color 400ms linear;
    -moz-transition:background-color 400ms linear;
 } */
/*  .nav-bg{
  background-color: rgba(0, 0, 0, 0.0)  !important;
  transition:background-color 400ms linear;
  -webkit-transition:background-color 400ms linear;
  -o-transition:background-color 400ms linear;
  -moz-transition:background-color 400ms linear;

} */

 /* .active{
  color:#082a74 ;
  border-bottom: 2px solid #082a74;
  font-weight: bold;
}  */

.menu-item{
  color: white !important ;
  text-decoration: none ;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  
}
/* .menu-itemScroll{
  color: rgb(36, 13, 90) !important;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
} */

/* .menu-item:hover{
  color:#dfaa4f !important;
  border-bottom: 2px solid #dfaa4f !important;
}
.menu-itemScroll:hover{
  border-bottom: 2px solid #dfaa4f !important;
  color:#dfaa4f !important;
};   */


  /* review section */
   .slider{
     width: 100%;
     height: 100%; 
   } 
  
  .slide{
    
    transform: scale(.7);
    transition: .5s;
    /* filter: blur(1px); */
  }
  
   .slide-active{
    filter: blur(0);
    opacity: 1;
    transform: scale(1.1);
  } 
  .arrow{
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px #ccc;
    display: flex;
    width: 50px;
    position: absolute;
    top: 200px;
    z-index: 100;
    cursor: pointer;
  }

  .arrow-right{
    right: 30px ;
  }
  .arrow-left{
    left: 10px;
  }


/* Footer Section */
.footer-bg{
  background-color: #262339;
  padding-top: 140px;
  padding-bottom: 20px;
  /* margin-top: -100px; */
  z-index: -1;
}
.footerContact{
  display: flex;
  align-items:center;
  padding-left: 40px;
  color: white;
  margin-top: 20px;
  font-weight: 500;
}
.footerIcon{
  color: #f3510c;
  font-size: 16px;
  margin-top: 7px;
  margin-right: 10px;
}

}




body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif ,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

